@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "UsualRegular", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Faucet";
  src: url("/fonts/A2Z-Faucet-Ultra.otf");
}

@font-face {
  font-family: "UsualLight";
  src: url("/fonts/Usual-Light.otf");
}

@font-face {
  font-family: "UsualRegular";
  src: url("/fonts/Usual-Regular.otf");
}

@layer components {
  .heading-display {
    font-family: "Faucet", sans-serif;
    font-feature-settings: "dlig" on, "ss03" on, "ss02" on, "ss01" on;
  }

  .section-label {
    @apply text-xs font-bold text-white font-usual-light;
  }
}
